<div class="col-md-3">
  <div class="sidebar">
    <p><%- partial("../_shared/_tagline") %></p>
  </div>
</div>
<div class="col-md-9">
  
  <div class="projects">
    <div class="row">
      <% for(slug in public.projects._data) { %>
        <% if(slug != "index") { %>
          <% var project = public.projects._data[slug] %>
          <% if(project.published !== false || environment=='development') { %>
            <% var classes = project.published == false ? 'unpublished' : '' %>
            <div class="col-md-6 col-sm-6">
              <a href="/projects/<%- slug %>.html" class="project <%- classes %>">
                <div class="project-image">
                  <img class="img-responsive" src="/images/pulp-vader.jpg" title="<%- project.title %>" %>
                  <div class="project-tagline"><%- project.tagline %></div>
                </div>
                <h2 class="project-title"><%- project.title %></h2>
                <h3 class="project-date"><%- project.date %></h3>
              </a>
            </div>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
</div>
