<div class="col-md-2">
  <div class="sidebar">
    <h3><%- partial("../_shared/_tagline") %></h3>
  </div>
  </div>
<div class="col-md-offset-1 col-md-8">
  <div class="posts">
    <% for(slug in public.articles._data) { %>
      <% if(slug != "index") { %>
        <% var article = public.articles._data[slug] %>
        <% if(article.published !== false || environment=='development') { %>
          <% var classes = article.published == false ? 'unpublished' : '' %>
          <a href="/articles/<%- slug %>.html" class="article-link <%- classes %>">
            <% if(typeof article.hero != "undefined" && article.hero) { %>
              <img class="banner" src="/images/<%- slug %>.jpg" title="<%- article.title %>" />
            <% } %>
            <ul class="list-unstyled article-link-details">
              <li class="article-link-title"><%- article.title %></li>
              <% if(typeof article.tagline != "undefined") { %>
                <li class="article-link-tagline"><%- article.tagline %></li>
              <% } %>
              <li class="article-link-date"><%- article.date %></li>
            </ul>
          </a>
        <% } %>
      <% } %>
    <% } %>
  </div>
</div>
